In [2]:
import pandas as pd
import numpy as np

#  Merge txt Files

In [2]:
df1 = pd.read_csv("Resources/2012-13/raw_scores.txt")
df2 = pd.read_csv("Resources/2013-14/raw_scores.txt")
df3 = pd.read_csv("Resources/2014-15/raw_scores.txt")
df4 = pd.read_csv("Resources/2015-16/raw_scores.txt")
df5 = pd.read_csv("Resources/2016-17/raw_scores.txt")
df6 = pd.read_csv("Resources/2017-18/raw_scores.txt")
df7 = pd.read_csv("Resources/2018-19/raw_scores.txt")

In [3]:
# Combine txt files into dataframe
frames = [df1, df2, df3, df4, df5, df6, df7]
df = pd.concat(frames).drop_duplicates()

In [4]:
# Export dataframe to csv
df.to_csv("Resources/raw_scores_combined.csv", index=False)

In [5]:
df8 = pd.read_csv("Resources/2012-13/vegas.txt")
df9 = pd.read_csv("Resources/2013-14/vegas.txt")
df10 = pd.read_csv("Resources/2014-15/vegas.txt")
df11 = pd.read_csv("Resources/2015-16/vegas.txt")
df12 = pd.read_csv("Resources/2016-17/vegas.txt")
df13 = pd.read_csv("Resources/2017-18/vegas.txt")
df14 = pd.read_csv("Resources/2018-19/vegas.txt")

In [6]:
# Combine txt files into dataframe
frames = [df8, df9, df10, df11, df12, df13, df14]
df = pd.concat(frames).drop_duplicates()

In [7]:
# Export dataframe to csv
df.to_csv("Resources/vegas_combined.csv", index=False)

In [8]:
df15 = pd.read_csv("Resources/2012-13/vegas_playoff.txt")
df16 = pd.read_csv("Resources/2013-14/vegas_playoff.txt")
df17 = pd.read_csv("Resources/2014-15/vegas_playoff.txt")
df18 = pd.read_csv("Resources/2015-16/vegas_playoff.txt")
df19 = pd.read_csv("Resources/2016-17/vegas_playoff.txt")
df20 = pd.read_csv("Resources/2017-18/vegas_playoff.txt")
df21 = pd.read_csv("Resources/2018-19/vegas_playoff.txt")

In [9]:
# Combine txt files into dataframe
frames = [df15, df16, df17, df18, df19, df20, df21]
df = pd.concat(frames).drop_duplicates()

In [10]:
# Export dataframe to csv
df.to_csv("Resources/vegas_playoff_combined.csv", index=False)

In [16]:
raw19_df=pd.read_csv("Resources/2018-19/raw_scores.txt")
#raw19_df = pd.concat(frames).drop_duplicates()
playoff19_df=pd.read_csv("Resources/2018-19/vegas_playoff.txt")
#playoff19_df = pd.concat(frames).drop_duplicates()

In [17]:
raw19_df.head()
#playoff19_df.dtypes
#playoff19_df.head()

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,0,87,0.391,0.609,0.192,18,47,16
1,2018-10-16,1,21800001,1610612738,BOS,Boston,1-0,21,26,30,...,0,0,0,105,0.433,0.714,0.297,21,55,14
2,2018-10-16,2,21800002,1610612760,OKC,Oklahoma City,0-1,23,24,32,...,0,0,0,100,0.363,0.649,0.270,21,45,14
3,2018-10-16,2,21800002,1610612744,GSW,Golden State,1-0,31,26,26,...,0,0,0,108,0.442,0.944,0.269,28,58,21
4,2018-10-17,1,21800003,1610612749,MIL,Milwaukee,1-0,36,31,26,...,0,0,0,113,0.494,0.750,0.412,26,57,21

In [18]:
merged19_df = pd.merge(raw19_df, playoff19_df, how="left", left_on="TEAM_ID", right_on="TeamId")
merged19_df.head()
merged19_df.to_csv("Resources/merged19.csv", index=False)

In [19]:
merged19_update_df = merged19_df.drop(columns=['Location','Team','OppTeam','GameId','PercentBet_ML','Open_Line_ML',
'Pinnacle_ML','5dimes_ML','Heritage_ML','Bovada_ML','Betonline_ML','Average_Line_ML','Best_Line_ML','Worst_Line_ML',
'PercentBet_Spread','Open_Line_Spread','Open_Odds_Spread','Pinnacle_Line_Spread','Pinnacle_Odds_Spread',
'5dimes_Line_Spread','5dimes_Odds_Spread','Heritage_Line_Spread', 'Heritage_Odds_Spread','Bovada_Line_Spread',
'Bovada_Odds_Spread','Betonline_Line_Spread','Betonline_Odds_Spread', 'Average_Line_Spread','Average_Odds_Spread',
'Best_Line_Spread','Worst_Line_Spread','Best_Odds_Spread','Worst_Odds_Spread', 'PercentBet_OU','Open_Line_OU',
'Open_Odds_OU','Pinnacle_Line_OU','Pinnacle_Odds_OU','5dimes_Line_OU','5dimes_Odds_OU', 'Heritage_Line_OU',
'Heritage_Odds_OU','Bovada_Line_OU','Bovada_Odds_OU','Betonline_Line_OU','Betonline_Odds_OU', 'Average_Line_OU',
'Average_Odds_OU','Best_Line_OU','Worst_Line_OU','Best_Odds_OU','Worst_Odds_OU','Pts','Spread', 'Result','Total',
'Unnamed: 0', 'Date','TEAM_ABBREVIATION','TEAM_CITY_NAME','TEAM_WINS_LOSSES','PTS_OT5','PTS_OT6','PTS_OT7','PTS_OT8',
'PTS_OT9', 'PTS_OT10'], axis=1)

In [20]:
merged19_update_df.head()
merged19_update_df.to_csv("Resources/merged19_update.csv", index=False)

In [21]:
merged19_update_df['Playoffs'] = np.where(merged19_update_df['TeamId']>1, "1", "0")
merged19_update_df.head()

,GAME_SEQUENCE,GAME_ID,TEAM_ID,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,TeamId,Playoffs
0,1,21800001,1610612755,21,21,24,21,0,0,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09,1
1,1,21800001,1610612755,21,21,24,21,0,0,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09,1
2,1,21800001,1610612755,21,21,24,21,0,0,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09,1
3,1,21800001,1610612755,21,21,24,21,0,0,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09,1
4,1,21800001,1610612755,21,21,24,21,0,0,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09,1

In [22]:
merged19_update_df = merged19_update_df.drop(columns=['TeamId'], axis=1)

In [23]:
merged19_update_df.to_csv("Resources/merged19_update.csv", index=False)