In [1]:
import pandas as pd
import numpy as np

#  Merge txt Files

In [2]:
df1 = pd.read_csv("Resources/2012-13/raw_scores.txt")
df2 = pd.read_csv("Resources/2013-14/raw_scores.txt")
df3 = pd.read_csv("Resources/2014-15/raw_scores.txt")
df4 = pd.read_csv("Resources/2015-16/raw_scores.txt")
df5 = pd.read_csv("Resources/2016-17/raw_scores.txt")
df6 = pd.read_csv("Resources/2017-18/raw_scores.txt")
df7 = pd.read_csv("Resources/2018-19/raw_scores.txt")

In [3]:
# Combine txt files into dataframe
frames = [df1, df2, df3, df4, df5, df6, df7]
df = pd.concat(frames).drop_duplicates()

In [4]:
# Export dataframe to csv
df.to_csv("Resources/raw_scores_combined.csv", index=False)

In [5]:
df8 = pd.read_csv("Resources/2012-13/vegas.txt")
df9 = pd.read_csv("Resources/2013-14/vegas.txt")
df10 = pd.read_csv("Resources/2014-15/vegas.txt")
df11 = pd.read_csv("Resources/2015-16/vegas.txt")
df12 = pd.read_csv("Resources/2016-17/vegas.txt")
df13 = pd.read_csv("Resources/2017-18/vegas.txt")
df14 = pd.read_csv("Resources/2018-19/vegas.txt")

In [6]:
# Combine txt files into dataframe
frames = [df8, df9, df10, df11, df12, df13, df14]
df = pd.concat(frames).drop_duplicates()

In [7]:
# Export dataframe to csv
df.to_csv("Resources/vegas_combined.csv", index=False)

In [8]:
df15 = pd.read_csv("Resources/2012-13/vegas_playoff.txt")
df16 = pd.read_csv("Resources/2013-14/vegas_playoff.txt")
df17 = pd.read_csv("Resources/2014-15/vegas_playoff.txt")
df18 = pd.read_csv("Resources/2015-16/vegas_playoff.txt")
df19 = pd.read_csv("Resources/2016-17/vegas_playoff.txt")
df20 = pd.read_csv("Resources/2017-18/vegas_playoff.txt")
df21 = pd.read_csv("Resources/2018-19/vegas_playoff.txt")

In [9]:
# Combine txt files into dataframe
frames = [df15, df16, df17, df18, df19, df20, df21]
df = pd.concat(frames).drop_duplicates()

In [10]:
# Export dataframe to csv
df.to_csv("Resources/vegas_playoff_combined.csv", index=False)

In [11]:
raw15_df=pd.read_csv("Resources/2015-16/raw_scores.txt")
#raw15_df = pd.concat(frames).drop_duplicates()
playoff15_df=pd.read_csv("Resources/2015-16/vegas_playoff.txt")
#playoff15_df = pd.concat(frames).drop_duplicates()

In [12]:
#raw15_df.head()
#playoff15_df.dtypes
#playoff15_df.head()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2016-04-16,away,Indiana,Toronto,1610612754,41500111,43.5,240,270,255,...,195.25,-108.17,196.0,195.0,-104,-110,100,10,W,190
1,2016-04-16,home,Toronto,Indiana,1610612761,41500111,56.5,-285,-307,-310,...,195.25,-108.50,196.0,195.0,-105,-110,90,-10,L,190
2,2016-04-16,away,Boston,Atlanta,1610612738,41500131,59.5,175,200,180,...,206.25,-108.33,207.0,206.0,-105,-110,101,-1,L,203
3,2016-04-16,home,Atlanta,Boston,1610612737,41500131,40.5,-205,-224,-220,...,206.25,-108.33,207.0,206.0,-105,-110,102,1,W,203
4,2016-04-16,away,Houston,Golden State,1610612745,41500141,55.3,825,901,775,...,225.08,-108.83,226.0,224.5,-105,-113,78,-26,L,182

In [19]:
merged15_df = pd.merge(raw15_df, playoff15_df, how="left", left_on="TEAM_ID", right_on="TeamId")
merged15_df.head()
merged15_df.to_csv("Resources/merged15.csv", index=False)

In [14]:
merged15_update_df = merged15_df.drop(columns=['Location','Team','OppTeam','GameId','PercentBet_ML','Open_Line_ML',
'Pinnacle_ML','5dimes_ML','Heritage_ML','Bovada_ML','Betonline_ML','Average_Line_ML','Best_Line_ML','Worst_Line_ML',
'PercentBet_Spread','Open_Line_Spread','Open_Odds_Spread','Pinnacle_Line_Spread','Pinnacle_Odds_Spread',
'5dimes_Line_Spread','5dimes_Odds_Spread','Heritage_Line_Spread', 'Heritage_Odds_Spread','Bovada_Line_Spread',
'Bovada_Odds_Spread','Betonline_Line_Spread','Betonline_Odds_Spread', 'Average_Line_Spread','Average_Odds_Spread',
'Best_Line_Spread','Worst_Line_Spread','Best_Odds_Spread','Worst_Odds_Spread', 'PercentBet_OU','Open_Line_OU',
'Open_Odds_OU','Pinnacle_Line_OU','Pinnacle_Odds_OU','5dimes_Line_OU','5dimes_Odds_OU', 'Heritage_Line_OU',
'Heritage_Odds_OU','Bovada_Line_OU','Bovada_Odds_OU','Betonline_Line_OU','Betonline_Odds_OU', 'Average_Line_OU',
'Average_Odds_OU','Best_Line_OU','Worst_Line_OU','Best_Odds_OU','Worst_Odds_OU','Pts','Spread', 'Result','Total',
'GAME_DATE_EST', 'Date','TEAM_ABBREVIATION','TEAM_CITY_NAME','TEAM_WINS_LOSSES','PTS_OT5','PTS_OT6','PTS_OT7','PTS_OT8',
'PTS_OT9', 'PTS_OT10'], axis=1)

In [15]:
merged15_update_df.head()
merged15_update_df.to_csv("Resources/merged15_update.csv", index=False)

In [16]:
merged15_update_df['Playoffs'] = np.where(merged15_update_df['TeamId']>1, "1", "0")
merged15_update_df.head()

,GAME_SEQUENCE,GAME_ID,TEAM_ID,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,TeamId,Playoffs
0,1,21500001,1610612765,25,23,34,24,0,0,0,0,106,0.385,0.769,0.414,23,59,15,1.610613e+09,1
1,1,21500001,1610612765,25,23,34,24,0,0,0,0,106,0.385,0.769,0.414,23,59,15,1.610613e+09,1
2,1,21500001,1610612765,25,23,34,24,0,0,0,0,106,0.385,0.769,0.414,23,59,15,1.610613e+09,1
3,1,21500001,1610612765,25,23,34,24,0,0,0,0,106,0.385,0.769,0.414,23,59,15,1.610613e+09,1
4,1,21500001,1610612737,25,18,23,28,0,0,0,0,94,0.451,0.800,0.296,22,40,15,1.610613e+09,1

In [17]:
merged15_update_df = merged15_update_df.drop(columns=['TeamId'], axis=1)

In [18]:
merged15_update_df.to_csv("Resources/merged15_update.csv", index=False)