In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("Resources/newmerged12_df.csv")
df2 = pd.read_csv("Resources/newmerged13_df.csv")
df3 = pd.read_csv("Resources/newmerged14_df.csv")
df4 = pd.read_csv("Resources/newmerged15_df.csv")
df5 = pd.read_csv("Resources/newmerged16_df.csv")
df6 = pd.read_csv("Resources/newmerged17_df.csv")
df7 = pd.read_csv("Resources/newmerged18_df.csv")

In [3]:
frames = [df1, df2, df3, df4, df5, df6, df7]
df = pd.concat(frames)

In [4]:
df.drop_duplicates()
df

,GAME_SEQUENCE,GAME_ID,TEAM_ID,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,Playoffs
0,1,21200001,1610612764,24,15,23,22,0,0,0,0,84,0.356,0.600,0.250,26,39,12,0
1,1,21200027,1610612764,12,30,25,19,0,0,0,0,86,0.436,0.706,0.300,20,46,15,0
2,2,21200054,1610612764,16,26,16,30,6,0,0,0,94,0.411,0.857,0.345,25,44,19,0
3,1,21200068,1610612764,28,19,25,19,0,0,0,0,91,0.436,0.864,0.222,23,36,20,0
4,2,21200082,1610612764,22,27,23,13,0,0,0,0,85,0.443,0.714,0.417,26,40,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,11,21801175,1610612757,28,34,24,30,0,0,0,0,116,0.511,0.625,0.323,28,54,13,1
2456,11,21801190,1610612757,29,21,37,23,0,0,0,0,110,0.488,0.800,0.345,24,40,14,1
2457,12,21801206,1610612757,29,31,26,29,0,0,0,0,115,0.461,0.828,0.321,22,58,16,1
2458,11,21801219,1610612757,26,27,20,31,0,0,0,0,104,0.411,0.864,0.297,18,45,12,1
2459,11,21801230,1610612757,30,32,36,38,0,0,0,0,136,0.582,0.727,0.583,19,44,12,1

In [5]:
df.to_csv("newmergedfull_df.csv", index=False)