In [1]:
import pandas as pd
import numpy as np

#  Merge txt Files

In [2]:
df1 = pd.read_csv("Resources/2012-13/raw_scores.txt")
df2 = pd.read_csv("Resources/2013-14/raw_scores.txt")
df3 = pd.read_csv("Resources/2014-15/raw_scores.txt")
df4 = pd.read_csv("Resources/2015-16/raw_scores.txt")
df5 = pd.read_csv("Resources/2016-17/raw_scores.txt")
df6 = pd.read_csv("Resources/2017-18/raw_scores.txt")
df7 = pd.read_csv("Resources/2018-19/raw_scores.txt")

In [3]:
# Combine txt files into dataframe
frames = [df1, df2, df3, df4, df5, df6, df7]
df = pd.concat(frames).drop_duplicates()

In [4]:
# Export dataframe to csv
df.to_csv("Resources/raw_scores_combined.csv", index=False)

In [5]:
df8 = pd.read_csv("Resources/2012-13/vegas.txt")
df9 = pd.read_csv("Resources/2013-14/vegas.txt")
df10 = pd.read_csv("Resources/2014-15/vegas.txt")
df11 = pd.read_csv("Resources/2015-16/vegas.txt")
df12 = pd.read_csv("Resources/2016-17/vegas.txt")
df13 = pd.read_csv("Resources/2017-18/vegas.txt")
df14 = pd.read_csv("Resources/2018-19/vegas.txt")

In [6]:
# Combine txt files into dataframe
frames = [df8, df9, df10, df11, df12, df13, df14]
df = pd.concat(frames).drop_duplicates()

In [7]:
# Export dataframe to csv
df.to_csv("Resources/vegas_combined.csv", index=False)

In [8]:
df15 = pd.read_csv("Resources/2012-13/vegas_playoff.txt")
df16 = pd.read_csv("Resources/2013-14/vegas_playoff.txt")
df17 = pd.read_csv("Resources/2014-15/vegas_playoff.txt")
df18 = pd.read_csv("Resources/2015-16/vegas_playoff.txt")
df19 = pd.read_csv("Resources/2016-17/vegas_playoff.txt")
df20 = pd.read_csv("Resources/2017-18/vegas_playoff.txt")
df21 = pd.read_csv("Resources/2018-19/vegas_playoff.txt")

In [9]:
# Combine txt files into dataframe
frames = [df15, df16, df17, df18, df19, df20, df21]
df = pd.concat(frames).drop_duplicates()

In [10]:
# Export dataframe to csv
df.to_csv("Resources/vegas_playoff_combined.csv", index=False)

In [2]:
raw12_df=pd.read_csv("Resources/2012-13/raw_scores.txt")
#raw12_df = pd.concat(frames).drop_duplicates()
playoff12_df=pd.read_csv("Resources/2012-13/vegas_playoff.txt")
#playoff12_df = pd.concat(frames).drop_duplicates()

In [4]:
#raw12_df.head()
#playoff12_df.dtypes
#playoff12_df.head()

In [5]:
merged12_df = pd.merge(raw12_df, playoff12_df, how="left", left_on="TEAM_ID", right_on="TeamId")
merged12_df

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,189.50,-108.00,192.5,188.5,-105.0,-110.0,78.0,-7.0,L,163.0
3,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,186.33,-108.83,186.5,186.0,-103.0,-115.0,71.0,-16.0,L,158.0
4,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,183.83,-108.33,185.0,183.0,-105.0,-110.0,76.0,-14.0,L,166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15083,2013-04-17,15,21201230,1610612744,GSW,Golden State,47-35,24,26,16,...,202.17,-108.67,203.5,201.5,-105.0,-110.0,92.0,-10.0,L,194.0
15084,2013-04-17,15,21201230,1610612744,GSW,Golden State,47-35,24,26,16,...,198.83,-107.50,201.5,198.0,-101.0,-110.0,97.0,10.0,W,184.0
15085,2013-04-17,15,21201230,1610612744,GSW,Golden State,47-35,24,26,16,...,194.75,-110.50,195.0,194.5,-105.0,-115.0,91.0,-18.0,L,200.0
15086,2013-04-17,15,21201230,1610612744,GSW,Golden State,47-35,24,26,16,...,194.75,-108.17,195.5,194.5,-104.0,-110.0,82.0,-12.0,L,176.0
15087,2013-04-17,15,21201230,1610612757,POR,Portland,33-49,17,19,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
merged12_df.drop_duplicates()
merged12_df

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,189.50,-108.00,192.5,188.5,-105.0,-110.0,78.0,-7.0,L,163.0
3,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,186.33,-108.83,186.5,186.0,-103.0,-115.0,71.0,-16.0,L,158.0
4,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,183.83,-108.33,185.0,183.0,-105.0,-110.0,76.0,-14.0,L,166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15083,2013-04-17,15,21201230,1610612744,GSW,Golden State,47-35,24,26,16,...,202.17,-108.67,203.5,201.5,-105.0,-110.0,92.0,-10.0,L,194.0
15084,2013-04-17,15,21201230,1610612744,GSW,Golden State,47-35,24,26,16,...,198.83,-107.50,201.5,198.0,-101.0,-110.0,97.0,10.0,W,184.0
15085,2013-04-17,15,21201230,1610612744,GSW,Golden State,47-35,24,26,16,...,194.75,-110.50,195.0,194.5,-105.0,-115.0,91.0,-18.0,L,200.0
15086,2013-04-17,15,21201230,1610612744,GSW,Golden State,47-35,24,26,16,...,194.75,-108.17,195.5,194.5,-104.0,-110.0,82.0,-12.0,L,176.0
15087,2013-04-17,15,21201230,1610612757,POR,Portland,33-49,17,19,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
merged12_df.to_csv("Resources/merged12.csv", index=False)

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,189.50,-108.00,192.5,188.5,-105.0,-110.0,78.0,-7.0,L,163.0
3,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,186.33,-108.83,186.5,186.0,-103.0,-115.0,71.0,-16.0,L,158.0
4,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,183.83,-108.33,185.0,183.0,-105.0,-110.0,76.0,-14.0,L,166.0

In [8]:
merged12_update_df = merged12_df.drop(columns=['Location','Team','OppTeam','GameId','PercentBet_ML','Open_Line_ML',
'Pinnacle_ML','5dimes_ML','Heritage_ML','Bovada_ML','Betonline_ML','Average_Line_ML','Best_Line_ML','Worst_Line_ML',
'PercentBet_Spread','Open_Line_Spread','Open_Odds_Spread','Pinnacle_Line_Spread','Pinnacle_Odds_Spread',
'5dimes_Line_Spread','5dimes_Odds_Spread','Heritage_Line_Spread', 'Heritage_Odds_Spread','Bovada_Line_Spread',
'Bovada_Odds_Spread','Betonline_Line_Spread','Betonline_Odds_Spread', 'Average_Line_Spread','Average_Odds_Spread',
'Best_Line_Spread','Worst_Line_Spread','Best_Odds_Spread','Worst_Odds_Spread', 'PercentBet_OU','Open_Line_OU',
'Open_Odds_OU','Pinnacle_Line_OU','Pinnacle_Odds_OU','5dimes_Line_OU','5dimes_Odds_OU', 'Heritage_Line_OU',
'Heritage_Odds_OU','Bovada_Line_OU','Bovada_Odds_OU','Betonline_Line_OU','Betonline_Odds_OU', 'Average_Line_OU',
'Average_Odds_OU','Best_Line_OU','Worst_Line_OU','Best_Odds_OU','Worst_Odds_OU','Spread', 'Result','Total',
'Unnamed: 0', 'Date','TEAM_WINS_LOSSES','PTS_OT5','PTS_OT6','PTS_OT7','PTS_OT8',
'PTS_OT9', 'PTS_OT10'], axis=1)

In [9]:
merged12_update_df.head()
merged12_update_df.to_csv("Resources/merged12_update.csv", index=False)

In [10]:
merged12_update_df['Playoffs'] = np.where(merged12_update_df['TeamId']>1, "1", "0")
merged12_update_df

,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,...,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,TeamId,Pts,Playoffs
0,1,21200001,1610612764,WAS,Washington,24,15,23,22,0,...,84,0.356,0.600,0.250,26,39,12,NaN,NaN,0
1,1,21200001,1610612739,CLE,Cleveland,31,19,24,20,0,...,94,0.456,0.682,0.350,22,54,20,NaN,NaN,0
2,2,21200002,1610612738,BOS,Boston,25,29,22,31,0,...,107,0.520,0.821,0.462,24,41,15,1.610613e+09,78.0,1
3,2,21200002,1610612738,BOS,Boston,25,29,22,31,0,...,107,0.520,0.821,0.462,24,41,15,1.610613e+09,71.0,1
4,2,21200002,1610612738,BOS,Boston,25,29,22,31,0,...,107,0.520,0.821,0.462,24,41,15,1.610613e+09,76.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15083,15,21201230,1610612744,GSW,Golden State,24,26,16,33,0,...,99,0.430,0.769,0.429,21,52,12,1.610613e+09,92.0,1
15084,15,21201230,1610612744,GSW,Golden State,24,26,16,33,0,...,99,0.430,0.769,0.429,21,52,12,1.610613e+09,97.0,1
15085,15,21201230,1610612744,GSW,Golden State,24,26,16,33,0,...,99,0.430,0.769,0.429,21,52,12,1.610613e+09,91.0,1
15086,15,21201230,1610612744,GSW,Golden State,24,26,16,33,0,...,99,0.430,0.769,0.429,21,52,12,1.610613e+09,82.0,1
15087,15,21201230,1610612757,POR,Portland,17,19,27,25,0,...,88,0.427,0.857,0.500,18,42,14,NaN,NaN,0

In [11]:
merged12_update_df = merged12_update_df.drop(columns=['TeamId'], axis=1)

In [12]:
merged12_update_df = merged12_update_df.drop_duplicates()
merged12_update_df

,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,...,PTS_OT4,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,Pts,Playoffs
0,1,21200001,1610612764,WAS,Washington,24,15,23,22,0,...,0,84,0.356,0.600,0.250,26,39,12,NaN,0
1,1,21200001,1610612739,CLE,Cleveland,31,19,24,20,0,...,0,94,0.456,0.682,0.350,22,54,20,NaN,0
2,2,21200002,1610612738,BOS,Boston,25,29,22,31,0,...,0,107,0.520,0.821,0.462,24,41,15,78.0,1
3,2,21200002,1610612738,BOS,Boston,25,29,22,31,0,...,0,107,0.520,0.821,0.462,24,41,15,71.0,1
4,2,21200002,1610612738,BOS,Boston,25,29,22,31,0,...,0,107,0.520,0.821,0.462,24,41,15,76.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15081,15,21201230,1610612744,GSW,Golden State,24,26,16,33,0,...,0,99,0.430,0.769,0.429,21,52,12,127.0,1
15084,15,21201230,1610612744,GSW,Golden State,24,26,16,33,0,...,0,99,0.430,0.769,0.429,21,52,12,97.0,1
15085,15,21201230,1610612744,GSW,Golden State,24,26,16,33,0,...,0,99,0.430,0.769,0.429,21,52,12,91.0,1
15086,15,21201230,1610612744,GSW,Golden State,24,26,16,33,0,...,0,99,0.430,0.769,0.429,21,52,12,82.0,1
15087,15,21201230,1610612757,POR,Portland,17,19,27,25,0,...,0,88,0.427,0.857,0.500,18,42,14,NaN,0

In [12]:
merged12_update_df.to_csv("Resources/merged12_update.csv", index=False)